{% extends 'base.html' %}

{% block title %}Contacto{% endblock title %}

{% block header %}
{% endblock header %}

{% block body_section %}
    <section class="py-5">
        <div class="container px-5">
            <!-- Form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Consultas y sugerencias</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                <form action='' method="post" >
                    {% csrf_token %}

                   {{form}}

                    <div class="d-grid mt-3"><input class="btn btn-primary btn-lg" type="submit" value='Enviar'/></div>
                </form>
            </div>
        </div>
    </div>
{% endblock body_section %}

{% block subscription %}{% endblock subscription %}
