{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}

{% block header_left_block %}
    <h1 class="display-5 fw-bolder text-white mb-2">Tus tecnologías y frameworks favoritos</h1>
    <p class="lead fw-normal text-white-50 mb-4">Para que siempre los lleves con el corazón. Somos frikis, si!</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href={% url "productos" %}>Ver productos</a>
        <a class="btn btn-outline-light btn-lg px-4" href={% url "agregar_al_carrito" %}>Agregar al carrito</a>
    </div>
{% endblock header_left_block %}

{% block header_right_block %}
<img class="img-fluid rounded-3 my-5" src="https://res.cloudinary.com/dagruxu0y/image/upload/v1698799967/DjangoStore/django_ovfv1u.png" alt="django" />
{% endblock header_right_block %}
