{% extends 'base.html' %}

{% block title %}Productos{% endblock title %}

{% block header_left_block %}
    <h1 class="display-5 fw-bolder text-white mb-2">Producto destacado</h1>
    <p class="lead fw-normal text-white-50 mb-4">Que lo hayas encontado acá es una señal de que tiene que ser tuyo</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#">Ver producto</a>
{% endblock header_left_block %}

{% block header_right_block %}
<img class="img-fluid rounded-3 my-5" src="https://res.cloudinary.com/dagruxu0y/image/upload/v1698799190/DjangoStore/git_noipcr.jpg" alt="git" />
{% endblock header_right_block %}

{% block body_section %}
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Todos los productos</h2>
                        <p class="lead fw-normal text-muted mb-5">El mejor catálogo de tus remeras favoritas</p>
                    </div>
                </div>
            </div>

            <div class="row gx-5 justify-content-center my-2">
                <form>
                    <input type="text" name='search'>
                    <input class="btn btn-primary px-2 me-sm-3" type="submit" value="Buscar">
                    <a class="btn btn-secondary px-2 me-sm-3" href={% url "productos" %}>Mostrar todos</a>
                </form>
            </div>

            {% if products_list %}

            <div class="row gx-5">
                {% for product in products_list %}
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src={{product.image}} alt="..." />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">{{product.name}}</h5></a>
                                <p class="card-text mb-0">{{product.desdription}}</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#">Ver producto</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            </div>
            {% else %}
            <p class="lead fw-normal text-muted mb-5">No se encontraron productos</p>
            {% endif %}
        </div>
    </section>
{% endblock body_section %}
