{% extends 'blog_base.html' %}

{% block title %}About{% endblock title %}

{% block header_title %}About{% endblock header_title %}

{% block header_subtitle %}{% endblock header_subtitle %}

{% block content %}
<div class="container mt-5">
    <div class="row  justify-content-center">
        <div class="col-lg-8">
            <section class="mb-5">
                <p class="fs-5 mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam porttitor dui, vel tincidunt risus posuere sit amet. Mauris lectus nunc, posuere non magna sed, ultricies condimentum mi. Donec volutpat lacinia lorem et pulvinar. Mauris ut imperdiet ipsum. Etiam laoreet justo non magna placerat, eget venenatis nulla accumsan. Fusce non sem vitae erat pellentesque lobortis. Aenean enim elit, accumsan id tortor in, gravida molestie lacus. Cras eleifend dictum accumsan. Nunc sem felis, ultrices at vestibulum et, mollis eu sapien. Integer venenatis diam nisi, porttitor vehicula ligula tincidunt vel. Sed porta maximus euismod. Donec sed maximus ligula, et lacinia augue.
                </p>
                <p class="fs-5 mb-4">
                    Integer sit amet pulvinar nibh, eu auctor metus. Pellentesque quis massa in urna consectetur hendrerit. Proin vitae tincidunt ante. Cras eleifend ultricies enim, sit amet congue orci interdum nec. In id tortor hendrerit, feugiat arcu sed, varius nisi. Phasellus ut lacinia nisl. Suspendisse euismod tempus mi. Sed a hendrerit nisi. Nam non mauris ligula. Nulla aliquet est turpis, vel tempor dui feugiat eu. Cras bibendum diam at nisi sollicitudin auctor. Curabitur fermentum mollis nisi.
                </p>
                <p class="fs-5 mb-4">
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sed malesuada tellus. Ut maximus convallis diam. Maecenas rutrum augue vel eros tempus eleifend. Integer in risus sed libero aliquet elementum. Donec in lacinia risus. Sed ac nisi nisi. Cras mi sapien, gravida lacinia malesuada id, vestibulum a tellus.
                </p>
            </section>
        </div>
    </div>
</div>
{% endblock content %}