{% extends 'blog_base.html' %}

{% block title %}Eliminar Entrada{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
   <header class="container mt-5 mb-4">
        <h1 class="fw-bolder mb-1">Eliminar entrada</h1> 
    </header>
    
    <main class="container mt-5 mb-4">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form action='' method="POST" >
                    {% csrf_token %}
                    <p>¿Desea eliminar la entrada <span class='text-bold'>{{blogentry.title}}</span>?</p>
                    <div class="d-grid"><input class="btn btn-primary btn-lg" type="submit" value='Confirmar'/></div>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
       
