{% extends 'blog_base.html' %}

{% block title %}Perfil{% endblock title %}

{% block header %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        {% if request.user.userdata.avatar %}
            <img class="img-fluid rounded-circle mb-4" src={{request.user.userdata.avatar.url}} alt="user avatar" />
        {% else %}
            <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
        {% endif %}
        <h1 class="fs-3 fw-bolder mx-2 mb-0">{{request.user.username}}</h1>
        <div class="d-flex align-items-center justify-content-center">
            <a href={% url "profile_edit" %} class='text-decoration-none text-black-50 m-2'>EDITAR</a>
            <span> | </span>
            <a href={% url "change_password" %} class='text-decoration-none text-black-50 m-2 '>CAMBIAR CONTRASEÑA</a>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}


{% block content %}
<section class="">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Biografía</h2>
                <p class="lead">{{request.user.userdata.biography}}</p>
                <h2>Tus datos</h2>
                
            </div>
        </div>
    </div>
</section>
    {% endblock content %}
