{% extends 'blog_base.html' %}

{% block title %}Editar perfil{% endblock title %}

{% block header_title %}Editar Perfil{% endblock header_title %}

{% block header_subtitle %}{% endblock header_subtitle %}

{% block content %}
<div class="row justify-content-center">
    <form action={% url "profile_edit" %} method="POST" enctype="multipart/form-data" class="col-lg-6">
        {% csrf_token %}
        <table class="mb-2">
            {{form}}
        </table>
        <div class="d-flex justify-content-center mb-2 g-2">
            <input type="submit" class="btn btn-primary mx-2" value="Actualizar">
            <a href={% url "profile_view" %} class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}