{% extends 'blog_base.html' %}

{% block title %}Registro{% endblock title %}

{% block header_title %}Registrarse{% endblock header_title %}

{% block header_subtitle %}{% endblock header_subtitle %}

{% block content %}
<form action={% url "register" %} class="row m-5" method="POST">
    <div class="col-8 m-auto">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="">{{field.label}}:</label>
                {{field}}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary m-2" value="Registrarse">
    </div>
</form>
{% endblock content %}