{% extends 'base.html' %}

{% block title %}Inicio{% endblock title %}

{% block header_text %}
    <h1 class="display-5 fw-bolder text-white mb-2">Tus tecnologías y frameworks favoritos</h1>
    <p class="lead fw-normal text-white-50 mb-4">Para que siempre los lleves con el corazón. Somos freekis, si!</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
    </div>
{% endblock header_text %}

{% block header_image %}
    <img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
{% endblock header_image %}


